@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('/Pretendard-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url('/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: url('/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('/Pretendard-Bold.woff') format('woff');
}

body {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  font-weight: 400;
}
